<html>
<body>
<div>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="submit" value="Sign Out"/>
        </form>

</div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="text" placeholder="Message"/>
            <input type="text" name="tag" placeholder="tag" />
            <button type="submit"> add </button>
        </form>
    </div>
<div>Список сообщений</div>
        <form method="post" action="filter">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="filter">
            <button type="submit">find</button>
        </form>
    <div>
        {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
    {{/messages}}
    </div>
</body>
</html>